/* GENERALE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Whitney", "Helvetica Neue", "Helvetica", "Arial, sans-serif";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* HEADER */
/* HEADER MENU */

header {
  background-color: #3161e0;
}

.header-top {
  line-height: 80px;
}

.col {
  float: left;
  text-align: center;
}

#logo {
  vertical-align: middle;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

.button {
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.button-access {
  padding: 10px 15px;
}

/* HEADER JUMBOTRON */

.jumbotron {
  height: 500px;
  background-color: #3161e0;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  /*   position: relative;
 */
}

.contain {
  /* position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  height: 200px; */
  color: white;
  padding-top: 150px;
}

.contain h1 {
  margin-bottom: 20px;
  font-size: 3em;
}

.contain p {
  margin-bottom: 30px;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 30px;
}

.button-light {
  font-size: 1.2em;
  padding: 15px 20px;
  margin: 10px;
}

.button-arrow:before {
  content: "\1F817";
  font-size: 30px;
  vertical-align: middle;
}

.button-dark {
  background-color: #23272a;
  color: white;
  font-size: 1.2em;
  padding: 15px 20px;
  margin-left: 10px;
}

/* MAIN */

.box-flex {
  padding: 150px 0;
}

.left {
  float: left;
  width: 50%;
}

.left img {
  width: 100%;
}

.right {
  float: left;
  width: 50%;
}

.text-right {
  padding: 0 120px;
}

.right h2 {
  font-size: 3em;
  margin-bottom: 40px;
}

.right p {
  font-size: 1.4em;
  line-height: 30px;
}

.text-top {
  text-align: center;
}

.text-top h2 {
  font-size: 3em;
  margin-bottom: 40px;
}
.text-top p {
  font-size: 1.4em;
  line-height: 30px;
}

.img-tablet {
  width: 100%;
}

/* SEZIONE DOWNLOAD MAC */

#download {
  text-align: center;
  padding-bottom: 100px;
}

.download-text {
  margin-bottom: 40px;
}

.star {
  background-image: url("../img/stars.svg");

  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 0;
}

.button-download-section {
  background-color: #8ea1e1;
  color: white;
  font-size: 1.2em;
  padding: 15px 20px;
}

/* FOOTER */
footer {
  height: 400px;
  background-color: #23272a;
}

.box-footer-top {
  padding: 100px 0;
}

.col-ft {
  width: 20%;
}

.box-lenguage {
  padding-bottom: 10px;
}
.box-footer-top ul li {
  list-style-type: none;
}

.box-footer-top h2 {
  color: #7289da;
  font-size: 31px;
  margin-bottom: 30px;
}

.flag-ita {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}

.lenguage {
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}

.lenguage::after {
  content: "\02C5";
}

.social-link a {
  padding-right: 10px;
}

.social-link i {
  color: white;
  font-size: 20px;
}
